<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SkySCRAPER</title>
    <style src="/public/styles/styles.css"></style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/javascript/app.js"></script>
</head>
<body>
  
  {{{ body }}}

</body>
</html>
