    <h1>
        Project SkySCRAPER
    </h1>
    <h2>
        The Gaming News Aggregator
    </h2>
    <div id="wrapper">
      <h1>What's currently happening in the gaming universe</h1>
      {{#each articles}}
        {{!-- {{#if notes}}
        {{/if}} --}}
      {{/each}}
      {{!-- <div id="articles"></div> --}}
      <div id="notes"></div>
      <button id="initiateScrape">SCRAPE ARTICLES</button>
    </div>